ul.nav li {
  border: grooved;
  display:inline-block;
  font-family:monospace;
  background-color: #80E5C6;
}

h1{
  color:#4E5054;
  background-color: #6BC1CF;
  background-size: cover;
  font-family:monospace;
}
.jumbotron{
  background-image:"beach.jpg";
  background-size:cover;
  background-attachment:fixed;
  min-height:600px;
}
  
