ul.nav li {
  border: solid;
  display:inline-block;
  font-family:monospace;
  background-color: #80E5C6;
  font-size: 30px
}

h1{
  color:#4E5054;
  background-color: #6BC1CF;
  background-size: cover;
  font-family:sans-serif;
}

<style>
body{
  background-image: src("background.jpg");
}
</style>
